.container {
    max-width: 100rem;
    padding: 0 var(--spacing-8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;

    position: relative;
}
.container h2 {
    font-size: var(--font-8);
    color: var(--color-black);
    margin-bottom: var(--spacing-6);
    padding: var(--spacing-7) var(--spacing-5);
}
.container section {
    margin-bottom: var(--spacing-10);
}

.header {
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-8);
    position: relative;
}
.headerLine {
    display: flex;
    align-items: center;
    gap: var(--spacing-7);

    position: relative;
}
.headerLine h1 {
    font-size: var(--font-13);
    color: var(--color-black);
}
.headerLine hr {
    flex-grow: 1;
    border: 0;
    border-bottom: 0.1rem solid var(--color-text);
}

.earnings {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
}
.earnings ol {
    list-style: none;
    text-align: center;
}
.earnings h3 {
    font-size: var(--font-11);
    color: var(--color-orange);
    padding: var(--spacing-4) var(--spacing-11);
    margin-bottom: var(--spacing-4);
    border-bottom: 0.1rem solid var(--color-text);
    font-weight: 200;
}
.earnings span {
    font-size: var(--font-5);
    font-weight: 900;
    color: var(--color-black);
}
.earnings p {
    font-size: var(--font-5);
}
.earnings img {
    position: relative;
    width: 20rem;
    top: -140px;
}
.earnings ol {
    list-style: none;
    text-align: center;
    position: relative;
    top: -80px;
}
.earnings li {
    margin-bottom: var(--spacing-6);
}

.rating {
    display: grid;
}
.rating ol {
    display: flex;
    justify-content: center;
    list-style: none;
    /* gap: var(--spacing-6); */
}
.rating img {
    width: 5rem;
}
.rating button {
    justify-self: end;
    border: 0;
    border-radius: var(--spacing-1);
    background-color: var(--color-orange);
    color: var(--color-white);
    font-size: var(--font-3);
    font-weight: 600;
    padding: var(--spacing-4) var(--spacing-6);
    cursor: pointer;
    margin-top: 20px;
}
.mirror {
    transform: scaleX(-1);
}

.currencyContainer {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 20px;
    box-shadow: 0 0px 0px 10px var(--color-white);
}

.currencyContainer button {
    width: 150px;

    font-size: var(--font-3);
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);

    padding: var(--spacing-3) var(--spacing-6);
    cursor: pointer;

    transition:
        0.4s color linear,
        0.2s background-color linear,
        0.1s border linear;
}

.currencyContainer button:hover {
    background-color: var(--color-black);
    border: 1px solid var(--color-white);
    color: var(--color-white);

    transition:
        0.4s color linear,
        0.2s background-color linear,
        0.1s border linear;
}

/*
.comments {
    list-style: none;
    padding: var(--spacing-6) var(--spacing-8);
}
.comment {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}*/

.comments h2 {
    padding-bottom: var(--spacing-2);
}

.comments > ol {
    list-style: none;
    padding: var(--spacing-6) var(--spacing-8);
}
.comment {
    box-shadow: 8px 6px 0 4px #120309;
    border: 1px solid #120309;
    padding: var(--spacing-4) var(--spacing-6);
    margin-bottom: var(--spacing-6);
}

.commentTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--spacing-3) var(--spacing-2);
}

.ccomment:last-child {
    margin-bottom: 0;
}
.commentTitle {
    font-size: var(--font-7);
    color: var(--color-green);
}
.commentText {
    font-size: var(--font-5);
    color: var(--color-black);
    margin: var(--spacing-4) var(--spacing-6);
    text-align: justify;
}

.dark hr {
    border-bottom: 0.1rem solid white;
}
.dark span {
    color: var(--color-text-dark);
}
.dark h3 {
    border-bottom: 0.1rem solid var(--color-text-dark);
}

.ratingComment {
    display: grid;
    justify-self: end;
}
.ratingComment ol {
    display: flex;
    /* justify-content: flex-end; */
    list-style: none;
}
.ratingComment img {
    width: 1.5rem;
}

@media (max-width: 36em) {
    .earnings ol {
        top: 0px;
    }

    .earnings img {
        top: 0px;
    }
}
