.container {
    display: grid;
    justify-items: center;
    margin-top: var(--spacing-8);
    gap: var(--spacing-6);
}
.table {
    min-width: 60%;
    border-collapse: collapse;
    border-radius: var(--spacing-2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.table td {
    padding: var(--spacing-2) var(--spacing-4);
}
.head {
    font-size: var(--font-6);
    background-color: #fda633;
}
.head td {
    padding: var(--spacing-3) var(--spacing-5);
}
.body {
    background-color: white;
    font-size: var(--font-6);
    border-bottom: 1px solid gray;
}
.body:nth-child(2n) {
    background-color: lightgray;
}

.table tr:last-child td:first-child {
    border-top-left-radius: 10px;
}

.table tr:last-child td:last-child {
    border-top-right-radius: 10px;
}
.bin {
    height: 2rem;
}
.button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.search {
    border: 2px solid gray;
    font-size: var(--font-6);
    padding: var(--spacing-1) var(--spacing-3);
    border-radius: 999rem;
}
