.mainNav,
.adminNav {
    position: relative;
    z-index: 2;
    background-color: #12030955;
    padding: var(--spacing-2) var(--spacing-4);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);

    position: fixed;
    width: 100%;
}


.rightSide,
.leftSide {
    display: flex;
    gap: var(--spacing-3);
}

.leftSide .navLink:not(:last-child) {
    border-right: dashed 1px #fff9fb33;
}

.navLink:link,
.navLink:visited,
.logoutButton {
    font-size: var(--font-3);
    padding: var(--spacing-3) var(--spacing-6);
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
    color: var(--color-white);
    letter-spacing: 1px;

    text-decoration: underline #0000;
    text-underline-offset: 0.8em;
    opacity: 0.9;

    transition:
        0.1s opacity linear,
        0.4s text-decoration;
}

.navLink:hover {
    opacity: 1;
    text-decoration: underline var(--color-white);

    transition:
        0.1s opacity linear,
        0.4s text-decoration;
}

.logoutButton:hover {
    cursor: pointer;
}

.navLink:link.active,
.navLink:visited.active {
    color: var(--color-white);
    letter-spacing: 2px;

    /*text-decoration: underline dotted var(--color-orange);*/
    font-weight: 500;

    text-decoration: underline var(--color-orange);
    text-underline-offset: 0.8em;
}

.themeButton {
    color: black;
    font-size: var(--font-3);
    border: 0;
    border-radius: 100rem;
    align-self: center;
    padding: var(--spacing-4) var(--spacing-5);
}
.darkBg {
    background-color: darkslategray;
}

.darkText {
    color: var(--color-text-dark);
}
