.container {
    max-width: 100rem;
    padding: 0 var(--spacing-8);
    margin: 0 auto;
}

.index h2 {
    text-align: center;
    font-size: var(--font-12);
    letter-spacing: -0.08rem;
}
.index footer {
    background-color: var(--color-footer);
    font-size: var(--font-4);
    padding: var(--spacing-6) var(--spacing-8);
}
.index a:link {
    display: inline-block;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: end;
    align-items: center;
    height: var(--spacing-8) var(--spacing-3);
    background-color: var(--color-nav);
}
.navigation a:link {
    color: var(--color-nav-link);
}

.mainHeader {
    background: url("/wall.jpg");
    background-repeat: repeat-x;
    background-size: contain;
}
.headerContainer {
    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    padding-bottom: var(--spacing-10);
    padding-top: var(--spacing-10);
    margin-bottom: var(--spacing-12);
}
.headerContainer img {
    width: 25rem;
    grid-row: 1 / span 3;
}

.headerContainer h1 {
    font-size: var(--font-15);
    font-weight: bold;
    letter-spacing: -0.3rem;
    justify-self: end;
}
.headerContainer p {
    font-size: var(--font-6);
    justify-self: end;
    align-self: center;
}
.headerContainer a:link,
.headerContainer a:visited {
    background-color: var(--color-header-button);
    color: black;
    font-size: var(--font-5);
    padding: var(--spacing-4) var(--spacing-6);
    border-radius: 1.2rem;
    justify-self: end;
    align-self: start;
}
.headerContainer a:hover {
    background-color: var(--color-header-button-hover);
}
.headerContainer a:active {
    background-color: var(--color-header-button-click);
}

.picturePoints {
    max-width: 30rem;
}
.comparison {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: var(--spacing-8);
}
.comparison h2 {
    margin-bottom: var(--spacing-2);
    font-size: var(--font-12);
}
.comparison p {
    font-size: var(--font-8);
    font-weight: 600;
    letter-spacing: 0.8rem;
    text-align: center;
    color: var(--color-bad);
    text-transform: uppercase;
    margin-bottom: var(--spacing-5);
}
.comparison ul {
    list-style: none;
}
.comparison li {
    font-size: var(--font-7);
    margin-bottom: var(--spacing-5);
}
.comparison li:last-child {
    margin-bottom: 0;
}
.comparison span {
    color: var(--color-bad);
    font-weight: 600;
    text-transform: uppercase;
}

.good p {
    color: var(--color-good);
}
.good span {
    color: var(--color-good);
}

.description {
    position: relative;
    display: flex;
    justify-content: center;
    background: url("/qr-plant.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: var(--spacing-9);
    padding: var(--spacing-10) 0;
}
.description div {
    max-width: 50rem;
    font-size: var(--font-6);
    background-color: var(--color-description);
    border-radius: var(--spacing-5);
    padding: var(--spacing-5);
}
.description p {
    line-height: 1.6;
}

.pictureSteps {
    max-width: 25rem;
    position: absolute;
    top: -2.5rem;
    left: var(--spacing-10);
}
.steps {
    margin-bottom: var(--spacing-9);
}
.steps h2 {
    margin-bottom: var(--spacing-7);
}
.stepsListContainer {
    position: relative;
}
.stepsListContainer ol {
    list-style: none;
    text-align: right;
}
.stepsListContainer li {
    padding: var(--spacing-5) var(--spacing-7);
    border: 0.3rem solid var(--color-steps-border);
    margin-bottom: var(--spacing-4);
    font-size: var(--font-6);
}
.stepsListContainer li:last-child {
    color: var(--color-good);
    margin-bottom: 0;
}

.trusted {
    margin-bottom: var(--spacing-7);
}
.trusted h2 {
    margin-bottom: var(--spacing-7);
}
.trustedGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: var(--spacing-6);
}
.trustedGrid img {
    width: 25rem;
}

.contact {
    padding-top: var(--spacing-6);
    padding-bottom: var(--spacing-8);
    margin-bottom: var(--spacing-9);
    text-align: center;
    border-top: 0.2rem solid var(--color-steps-border);
    border-bottom: 0.2rem solid var(--color-steps-border);
}
.contact h3 {
    font-size: var(--font-8);
}
.contact p {
    font-size: var(--font-6);
}
.contact textarea {
    font-size: var(--font-6);
    padding: var(--spacing-3) var(--spacing-5);
    max-width: 50rem;
    box-sizing: border-box;
    width: 100%;
    height: 20rem;
}

/* 880px or less */
@media (max-width: 55em) {
    .headerContainer h1 {
        font-size: var(--font-14);
    }
    .comparison h2 {
        font-size: var(--font-11);
    }
    .comparison p {
        font-size: var(--font-7);
    }
    .comparison li {
        font-size: var(--font-6);
    }
    .picturePoints {
        max-width: 25rem;
    }
    html {
        font-size: 8px;
    }
}

/* 576px or less */
@media (max-width: 36em) {
    html {
        font-size: 6px;
    }
    .container {
        padding: 0 var(--spacing-6);
    }
    .mainHeader {
        background-size: cover;
    }
    .headerContainer {
        padding-bottom: var(--spacing-8);
        padding-top: var(--spacing-8);
        grid-template-columns: 25rem 1fr;
        grid-template-rows: 1fr 0.5fr 1fr;

        background-size: contain;
    }
    .headerContainer img {
        grid-row: 2 / span 2;
    }
    .headerContainer h1 {
        font-size: var(--font-15);
        grid-column: 1 / span 2;
        align-self: end;
        justify-self: center;
    }
    .picturePoints {
        max-width: 15rem;
    }
    .pictureSteps {
        max-width: 20rem;
        position: absolute;
        top: 1rem;
        left: var(--spacing-6);
    }
}
