.container {
    width: 1000px;
    margin: 0 auto;
}

.index h2 {
    text-align: center;
    font-size: var(--font-12);
    letter-spacing: -0.8px;
}
.index footer {
    background-color: var(--color-footer);
    font-size: var(--font-4);
    padding: var(--spacing-6) var(--spacing-8);
}
.index a:link {
    display: inline-block;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: end;
    align-items: center;
    height: var(--spacing-8) var(--spacing-3);
    background-color: var(--color-nav);
}
.navigation a:link {
    color: var(--color-nav-link);
}

.mainHeader {
    background: url("wall.jpg");
    background-size: 100%;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-11);
    margin-bottom: var(--spacing-12);
}
.headerTitle {
    text-align: right;
}
.headerTitle h1 {
    font-size: var(--font-15);
    font-weight: bold;
    letter-spacing: -3px;
}
.headerTitle p {
    font-size: var(--font-6);
    margin-bottom: var(--spacing-6);
}
.headerTitle a:link,
.headerTitle a:visited {
    background-color: var(--color-header-button);
    color: black;
    font-size: var(--font-5);
    padding: var(--spacing-4) var(--spacing-6);
    border-radius: 12px;
}
.headerTitle a:hover {
    background-color: var(--color-header-button-hover);
}
.headerTitle a:active {
    background-color: var(--color-header-button-click);
}

.picturePoints {
    width: 300px;
}
.goodbye {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: var(--spacing-8);
}
.goodbye h2 {
    margin-bottom: var(--spacing-2);
}
.goodbye p {
    font-size: var(--font-8);
    font-weight: 600;
    letter-spacing: 8px;
    text-align: center;
    color: var(--color-bad);
    text-transform: uppercase;
    margin-bottom: var(--spacing-5);
}
.goodbye ul {
    list-style: none;
}
.goodbye li {
    font-size: var(--font-7);
    margin-bottom: var(--spacing-5);
}
.goodbye li:last-child {
    margin-bottom: 0;
}
.goodbye span {
    color: var(--color-bad);
    font-weight: 600;
    text-transform: uppercase;
}

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: var(--spacing-9);
}
.welcome p {
    font-size: var(--font-8);
    font-weight: 600;
    letter-spacing: var(--spacing-3);
    margin-bottom: var(--spacing-5);
    text-align: center;
    color: var(--color-good);
    text-transform: uppercase;
}
.welcome ul {
    list-style: none;
}
.welcome li {
    font-size: var(--font-7);
    margin-bottom: var(--spacing-5);
}
.welcome span {
    color: var(--color-good);
    font-weight: 600;
    text-transform: uppercase;
}

.description {
    position: relative;
    display: flex;
    justify-content: center;
    background: url(qr-plant.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: var(--spacing-9);
    padding: var(--spacing-10) 0;
}
.description div {
    width: 500px;
    font-size: var(--font-6);
    background-color: var(--color-description);
    border-radius: var(--spacing-5);
    padding: var(--spacing-5);
}
.description p {
    line-height: 1.6;
}

.pictureSteps {
    width: 250px;
    position: absolute;
    top: -25px;
    left: var(--spacing-10);
}
.steps {
    margin-bottom: var(--spacing-9);
}
.steps h2 {
    margin-bottom: var(--spacing-7);
}
.stepsListContainer {
    position: relative;
}
.stepsListContainer ol {
    list-style: none;
    text-align: right;
}
.stepsListContainer li {
    padding: var(--spacing-5) var(--spacing-7);
    border: 3px solid var(--color-steps-border);
    margin-bottom: var(--spacing-4);
    font-size: var(--font-6);
}
.stepsListContainer li:last-child {
    color: var(--color-good);
    margin-bottom: 0;
}

.trusted {
    margin-bottom: var(--spacing-7);
}
.trusted h2 {
    margin-bottom: var(--spacing-7);
}
.trustedGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: var(--spacing-6);
}

.contact {
    padding-top: var(--spacing-6);
    padding-bottom: var(--spacing-8);
    margin-bottom: var(--spacing-9);
    text-align: center;
    border-top: 2px solid var(--color-steps-border);
    border-bottom: 2px solid var(--color-steps-border);
}
.contact h3 {
    font-size: var(--font-8);
}
.contact p {
    font-size: var(--font-6);
}
.contact textarea {
    font-size: var(--font-6);
    resize: none;
    padding: var(--spacing-3) var(--spacing-5);
}
