/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52
 / 62 / 74 / 86 / 98
*/

.index h2 {
    text-align: center;
    font-size: 48px;
    letter-spacing: -0.8px;
}
.index footer {
    background-color: bisque;
    font-size: 16px;
    padding: 12px 24px;
}
.index a:link {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
    background-color: beige;
}

.navigation p {
}
.navigation a:link {
    color: gray;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    padding: 48px;
    margin-bottom: 64px;
}

.header-title {
    text-align: right;
}

.header-title h1 {
    font-size: 86px;
    font-weight: bold;
    letter-spacing: -3px;
}
.header-title p {
    font-size: 20px;
    margin-bottom: 24px;
}
.header-title a:link,
.header-title a:visited {
    background-color: lightgreen;
    color: black;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 12px;
}
.header-title a:hover {
    background-color: rgb(109, 218, 109);
}
.header-title a:active {
    background-color: rgb(83, 197, 83);
}

.goodbye {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 48px;
}
.goodbye h2 {
    margin-bottom: 4px;
}
.goodbye p {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 8px;
    text-align: center;
    color: orangered;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.goodbye ul {
    list-style: none;
}
.goodbye li {
    font-size: 24px;
    margin-bottom: 12px;
}
.goodbye li:last-child {
    margin-bottom: 0;
}
.goodbye span {
    color: orangered;
    font-weight: 600;
    text-transform: uppercase;
}

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 64px;
}
.welcome p {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 8px;
    text-align: center;
    color: green;
    text-transform: uppercase;
}
.welcome ul {
    list-style: none;
}
.welcome li {
    font-size: 24px;
    margin-bottom: 12px;
}
.goodbye li:last-child {
    margin-bottom: 0;
}
.welcome span {
    color: green;
    font-weight: 600;
    text-transform: uppercase;
}

.description {
    position: relative;
    display: flex;
    justify-content: center;
    background: url(qr-code.jpg);
    margin-bottom: 64px;
    padding: 48px 0;
}
/* .description img {
    position: absolute;
} */
.description div {
    width: 500px;
    font-size: 20px;
    background-color: antiquewhite;
    border-radius: 16px;
    padding: 16px;
}
.description p {
    line-height: 1.6;
}

.steps {
    margin-bottom: 64px;
}
.steps h2 {
    margin-bottom: 32px;
}
.steps-list-container {
    position: relative;
}
.steps-list-container ol {
    list-style: none;
    text-align: right;
}
.steps-list-container li {
    padding: 16px 32px;
    border: 3px solid gray;
    margin-bottom: 10px;
    font-size: 20px;
}
.steps-list-container li:last-child {
    color: orangered;
    margin-bottom: 0;
}
.steps-list-container img {
    position: absolute;
    top: 30px;
    left: 30px;
}

.trusted {
    margin-bottom: 32px;
}
.trusted h2 {
    margin-bottom: 32px;
}
.trusted-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.contact {
    margin-bottom: 64px;
}
