:root {
    --color-nav: rgb(253, 242, 228);
    --color-nav-link: transparent;
    --color-nav-link-current: orange;
}

.main-nav {
    background-color: var(--color-nav);
    display: flex;
    justify-content: space-between;
}
.right-side,
.left-side {
    display: flex;
    gap: var(--spacing-3);
}
.main-nav a:link,
.main-nav a:visited {
    padding: var(--spacing-4) var(--spacing-6);
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
    background-color: var(--color-nav-link);
    border-radius: var(--spacing-3);
    color: black;
    text-decoration: none;
}
.main-nav a:link.active,
.main-nav a:visited.active {
    background-color: var(--color-nav-link-current);
}
