.table {
    border: 3px solid black;
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}
.table thead {
    font-weight: 600;
    font-size: var(--font-7);
}
.list-head {
    background-color: #fda633;
    border-bottom: 2px solid black;
}
.list-data {
    background-color: #dd9f4e;
    font-size: var(--font-6);
}
.list-data:nth-child(2n) {
    background-color: #f7c078;
}
.list-data button {
    border: 1px solid black;
    background-color: white;
    padding: var(--spacing-2) var(--spacing-4);
    font-size: var(--font-6);
}

.list-data input {
    width: 100%;
}
.list-data input#rating {
    width: 50px;
}
