* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 8px;
    --spacing-4: 12px;
    --spacing-5: 16px;
    --spacing-6: 24px;
    --spacing-7: 32px;
    --spacing-8: 48px;
    --spacing-9: 64px;
    --spacing-10: 80px;
    --spacing-11: 96px;
    --spacing-12: 128px;

    --font-1: 10px;
    --font-2: 12px;
    --font-3: 14px;
    --font-4: 16px;
    --font-5: 18px;
    --font-6: 20px;
    --font-7: 24px;
    --font-8: 30px;
    --font-9: 36px;
    --font-10: 44px;
    --font-11: 52px;
    --font-12: 62px;
    --font-13: 74px;
    --font-14: 86px;
    --font-15: 98px;

    --color-background: #eee;
    --color-text: black;
    --color-header: lightgray;
    --color-header-button: lightgreen;
    --color-header-button-hover: rgb(109, 218, 109);
    --color-header-button-click: rgb(83, 197, 83);
    --color-footer: rgb(56, 119, 54);
    --color-bad: orangered;
    --color-good: green;
    --color-description: rgb(247, 185, 72);
    --color-steps-border: gray;
}
