.loginForm {
    max-width: 40rem;
    margin: 2rem auto;
    font-size: 24px;
}

.loginForm h1 {
    text-align: center;
}

.loginForm label,
.loginForm input {
    display: block;
    width: 100%;
    font-size: 24px;
}

.loginForm input {
    padding: 0.25rem;
}

.loginForm button {
    margin-top: 1rem;
    display: block;
    width: 100%;
    font-size: 24px;
    min-height: 50px;
}

.formError {
    color: red;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}
